@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container" data-aos="fade-down">
    <h3 class="text-uppercase">
        <b>Bienvenidos!</b>
    </h3>
    <p>
        Esta es mi aplicación de Blazor Server para la asignatura Lenguaje De Programación III
        <br />
        <b>Mi Nombre es Luis Angel Fernández (2021-1022)</b>
        <br/>
        Mi aplicación consiste en un <b>CRUD</b> básico para Animes y sus personajes
        para ello <br/> 
        utilicé dos Modelos y dejé volar mi creatividad y estos
        son los resultados
    </p>
    <h4>¿Cómo contactarme?</h4>
    <ul class="list-group" style="width:50%;">
        <li class="list-group-item">
            <i class="fab fa-instagram text-dark"></i>
            <a class="text-decoration-none" href="https://www.instagram.com/luis_angelfc11/" target="_blank">Instagram</a>
        </li>
        <li class="list-group-item">
            <i class="fab fa-twitter text-primary"></i>
            <a class="text-decoration-none" href="https://twitter.com/Luis_Angelf11" target="_blank">Twitter</a>
        </li>
        <li class="list-group-item">
            <i class="fas fa-globe text-secondary"></i>
            <a class="text-decoration-none" href="https://luisangelf11.github.io/portfolio/" target="_blank">Portafolios</a>
        </li>
        <li class="list-group-item">
            <i class="fab fa-youtube text-danger"></i>
            <a class="text-decoration-none" href="https://www.youtube.com/channel/UCzsW6R0I-jpLldlOxFJiAgQ" target="_blank">YouTube</a>
        </li>
    </ul>
    <h5 class="p-2">
            ¿Deseas aprender JavaScript?
    </h5>
    <iframe width="400" height="200"
            src="https://www.youtube.com/embed/6mT2lN8ClfA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
